* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f6f6f6;
}

main {
  max-width: 300px;
  margin: 50px auto 0;
}

.header {
  background-color: #0c69db;
  color: white;
  padding: 8px 0;
}

h1 {
  padding-left: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  font-size: 0.8rem;
  display: inline;
}

h2 {
  font-weight: 100;
  color: #1673e6;
}

p {
  font-weight: 300;
  color: #c3c3c3;
}

.modal-icon {
  font-size: 0.8rem;
  text-align: right;
  padding-right: 20px;
  float: right;
  line-height: 20px;
}

.row {
  display: table;
  width: 100%;
}

.btn {
  width: 25%;
  text-align: center;
  display: table-cell;
  padding: 20px 0;
  font-weight: 300;
  cursor: pointer;
  background-color: #1673e6;
  transition: background-color 0.3s ease-in-out;
  color: #FFFFFF;
}

.btn:hover {
  background-color: #0f75f2;
}

.display {
  padding: 30px 30px 30px 0;
  max-width: 270px;
  overflow: hidden;
  background-color: #1673e6;
  color: #FFFFFF;
  text-align: right;
  font-size: 3rem;
  font-weight: 100;
}

.eval {
  padding: 30px 0;
  background-color: #FFFFFF;
  text-align: center;
  color: #1673e6;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.eval:hover {
  box-shadow: inset 0 20px 20px -19px rgba(0, 0, 0, 0.8);
  color: #0c69db;
  background-color: #FFFFFF;
}

.hvr {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #0c69db;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr:active:after {
  left: 0;
  right: 0;
}

.modal-container:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-container:closed {
  display: none;
}

.modal {
  box-sizing: border-box;
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  display: block;
  background: #FFFFFF;
  padding: 40px;
  width: 600px;
  max-width: 100%;
  z-index: 1;
}

button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #1673e6;
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
  float: right;
  outline: none;
}

button:hover {
  background-color: #f6f6f6;
}

input {
  width: 100%;
  outline: none;
  padding: 10px 0;
  margin-bottom: 10px;
}
